            body {
                width: auto;
                height: auto;
                padding-top: 20px;
                background-color: black;
                font-family: 'Montserrat', sans-serif;
            }
            
            #content {
                height: 100%;
                margin-left: 6%;
            }
            /*INFORMATIONS SECTION*/
            
            #heading {
                margin-bottom: 10px;
                color: white;
                text-align: center;
                font-size: 25px;
                letter-spacing: 10px;
            }
            
            #piano-content {
                margin-left: 250px;
            }
            /* COLORS ANIMATION SECTION */
            
            #colors {
                width: 810px;
                height: 240px;
                margin-bottom: 10px;
            }
            
            #duration-section {
                margin-left: 100px;
            }
            
            #duration {
                height: 240px;
                width: 10px;
                margin-left: 100px;
                position: absolute;
                border-left: 1px solid gray;
            }
            
            #duration-label {
                -ms-transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
                color: gray;
                width: 100px;
                height: 100px;
                margin-top: 50px;
            }
            
            .duration-info {
                color: white;
                margin-bottom: 40px;
            }
            
            .color-hidden {
                height: 240px;
                width: 100px;
                transform-origin: bottom;
                transform: scaleY(0);
                border-radius: 5px;
            }
            
            .red-visible {
                transform: scaleY(1);
                height: 240px;
                transition: 1.5s ease;
                background: rgb(255, 255, 255);
                background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(255, 0, 0) 100%);
            }
            
            .dark-red-visible {
                transform: scaleY(1);
                height: 240px;
                transition: 1.5s ease;
                background: rgb(255, 255, 255);
                background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(153, 0, 0) 100%);
            }
            
            .orange-visible {
                transform: scaleY(1);
                height: 240px;
                transition: 1.5s ease;
                background: rgb(255, 255, 255);
                background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(253, 142, 20) 100%);
            }
            
            .yellow-visible {
                transform: scaleY(1);
                height: 240px;
                transition: 1.5s ease;
                background: rgb(255, 255, 255);
                background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(254, 258, 28) 100%);
            }
            
            .green-visible {
                transform: scaleY(1);
                height: 240px;
                transition: 1s ease;
                background: rgb(255, 255, 255);
                background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(0, 255, 0) 100%);
            }
            
            .cyan-visible {
                transform: scaleY(1);
                height: 240px;
                transition: 1.5s ease;
                background: rgb(255, 255, 255);
                background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(255, 0, 255) 100%);
            }
            
            .violet-visible {
                transform: scaleY(1);
                height: 240px;
                transition: 1.5s ease;
                background: rgb(255, 255, 255);
                background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(97, 0, 255) 100%);
            }
            
            .blue-visible {
                transform: scaleY(1);
                height: 240px;
                transition: 1s ease;
                background: rgb(255, 255, 255);
                background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(0, 0, 255) 100%);
            }
            /* SYNTHESIZER SECTION */
            
            #synthesizer {
                width: 802px;
                border-radius: 5px;
                height: 300px;
                margin-left: 3px;
            }
            
            .key {
                height: 300px;
                width: 100px;
                padding-top: 260px;
                border: 1px solid gray;
                border-radius: 0 0 5px 5px;
                background: white;
                text-align: center;
                box-shadow: 0 12px 25px -6px white;
            }
            
            .shadow-inset-center {
                -webkit-animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            }
            
            @-webkit-keyframes shadow-inset-center {
                0% {
                    -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
                    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
                }
                100% {
                    -webkit-box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.3);
                    box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.3);
                }
            }
            
            @keyframes shadow-inset-center {
                0% {
                    -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
                    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
                }
                100% {
                    -webkit-box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.3);
                    box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.3);
                }
            }
            
            .black-key {
                text-align: center;
                width: 60px;
                height: 200px;
                position: relative;
                z-index: 999;
                margin-left: -30px;
                margin-right: -30px;
                border: 1px solid black;
                border-top: 1px solid gray;
                border-radius: 0 0 5px 5px;
                background: black;
                color: white;
                box-shadow: 0 8px 25px -6px black;
            }
            
            #sample {
                visibility: hidden;
                width: 1px;
                height: 1px;
            }
            
            .pressed {
                -moz-box-shadow: inset 0 0 10px #000000;
                -webkit-box-shadow: inset 0 0 10px #000000;
                box-shadow: inset 0 0 10px #000000;
            }
            
            #notes-section {
                margin-left: 20px;
            }
            
            #notes-names {
                width: 800px;
                margin-top: 20px;
                font-size: 20px;
            }
            
            .notes-name {
                text-align: center;
                width: 100px;
                color: white;
                border-bottom: 1px solid gray;
            }
            
            #notes-info {
                width: 802px;
                text-align: center;
                color: gray;
            }
            /*SWITCH BUTTON SECTION*/
            
            #switch-section {
                margin-left: 5%;
                color: gray;
                width: 200px;
            }
            
            .switch {
                position: relative;
                display: inline-block;
                width: 60px;
                height: 34px;
            }
            
            .switch input {
                opacity: 0;
                width: 0;
                height: 0;
            }
            
            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                -webkit-transition: .4s;
                transition: .4s;
                border-radius: 34px;
            }
            
            .slider:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
                border-radius: 50%;
            }
            
            input:checked+.slider {
                background-color: #78ffc9;
            }
            
            input:focus+.slider {
                box-shadow: 0 0 1px #78ffc9;
            }
            
            input:checked+.slider:before {
                -webkit-transform: translateX(26px);
                -ms-transform: translateX(26px);
                transform: translateX(26px);
            }